* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("./backgroundd.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2vw;
}

.container {
  width: 80vw;
  max-width: 1200px;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.7);
  backdrop-filter: blur(18px) saturate(180%);
  border: 2px solid rgba(255, 255, 255, 0.125);
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* Responsive tweak for tablets */
@media (max-width: 1024px) {
  .container {
    width: 90vw;
    height: 92vh;
    flex-direction: column;
  }
}

/* Mobile optimization */
@media (max-width: 600px) {
  body {
    padding: 1rem;
  }

  .container {
    width: 100%;
    height: 95vh;
    border-radius: 0.75rem;
    flex-direction: column;
  }
}

.loading {
  padding: 2rem;
  font-size: 2rem;
  border-radius: 0.75rem;
  background-color: rgba(17, 25, 40, 0.8);
  text-align: center;
  width: 100%;
}
